# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/member_book_db

# API Configuration
API_V1_STR=/members-book-service/v1
PROJECT_NAME=Member Book Service

# CORS Configuration
BACKEND_CORS_ORIGINS=["*"]
